Repository Glatzel/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-yaml, check-json, check-toml, actionlint, toml-format, ruff-check, numpydoc-check, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # pre-commit-hooks
      - id: check-added-large-files
        name: check-added-large-files
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-added-large-files
        language: system
        stages: [pre-commit, manual]

      - id: check-ast
        name: check-ast
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-added-large-files
        language: system
        types: [python]
        stages: [pre-commit, manual]

      - id: check-yaml
        name: check-yaml
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]

      - id: end-of-file
        name: end-of-file
        entry: pixi run --manifest-path ./pre-commit/pixi.toml end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]

      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run --manifest-path ./pre-commit/pixi.toml trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]

      - id: check-json
        name: check-json
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-json
        language: system
        types: [json]
        stages: [pre-commit, manual]

      - id: check-toml
        name: check-toml
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-toml
        language: system
        types: [toml]
        stages: [pre-commit, manual]

      - id: check-xml
        name: check-xml
        entry: pixi run --manifest-path ./pre-commit/pixi.toml check-xml
        language: system
        types: [xml]
        stages: [pre-commit, manual]

      - id: detect-private-key
        name: detect-private-key
        entry: pixi run --manifest-path ./pre-commit/pixi.toml detect-private-key
        language: system
        types: [text]
        stages: [pre-commit, manual]

      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run --manifest-path ./pre-commit/pixi.toml mixed-line-ending
        language: system
        types: [text]
        stages: [pre-commit, manual]

      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run --manifest-path ./pre-commit/pixi.toml actionlint
        types: [yaml]
        files: ^\.github/workflows/
        stages: [pre-commit, manual]

      # TOML format
      - id: toml-format
        name: TOML format
        entry: pixi run --manifest-path ./pre-commit/pixi.toml toml-format
        language: system
        types: [file, toml]
        stages: [pre-commit, manual]

      # ruff
      - id: ruff-check
        name: ruff-check
        entry: pixi run --manifest-path ./pre-commit/pixi.toml run-check
        language: system
        files: ".*/ruff.ps1"
        stages: [pre-commit, manual]

      #numpydoc
      - id: numpydoc-check
        name: numpydoc-check
        entry: pixi run --manifest-path ./pre-commit/pixi.toml run-check
        language: system
        files: ".*/numpydoc.ps1"
        stages: [pre-commit, manual]

      # Rust
      - id: cargo-fmt
        name: cargo-fmt
        entry: pixi run --manifest-path ./pre-commit/pixi.toml run-check
        language: system
        files: ".*/cargo-fmt.ps1"
        stages: [pre-commit, manual]

      #numpydoc
      - id: cargo-clippy
        name: cargo-clippy
        entry: pixi run --manifest-path ./pre-commit/pixi.toml run-check
        language: system
        files: ".*/cargo-clippy.ps1"
        stages: [pre-commit, manual]

  # other
  # - repo: https://github.com/renovatebot/pre-commit-hooks
  #   rev: 40.7.1
  #   hooks:
  #     - id: renovate-config-validator

fix
  pre-commit/pixi.toml
Due: check-toml, toml-format

fix
  .github/workflows/pre-commit.yml
Due: check-yaml, actionlint

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: check-yaml, actionlint

fix
  pre-commit/clippy.toml
  pre-commit/pre-commit.ps1
  pre-commit/rustfmt.toml
Due: check-toml, toml-format

fix
  .pre-commit-config.yaml
Due: check-yaml

fix
  pre-commit/pre-commit.ps1
Due: none

fix
  pre-commit/clippy.toml
  rust/clippy.toml
  rust/rustfmt.toml
Due: check-toml, toml-format

fix
  common/cliff.toml
Due: check-toml, toml-format

fix
  pre-commit/rustfmt.toml
Due: check-toml, toml-format

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  common/.pre-commit-config.yaml
  common/pixi.toml
  common/ruff.toml
  common/rustfmt.toml
  common/taplo.toml
  pre-commit/pixi.lock
  pre-commit/pre-commit.ps1
  python/scripts/ruff.ps1
Due: check-yaml, check-toml, actionlint, toml-format, ruff-check

fix
  .pre-commit-hooks.yaml
  common/.pre-commit-config.yaml
Due: check-yaml

fix
  .pre-commit-hooks.yaml
Due: check-yaml

fix
  common/.pre-commit-config.yaml
Due: check-yaml

fix
  .github/workflows/pre-commit.yml
  .pre-commit-hooks.yaml
Due: check-yaml, actionlint

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  common/.pre-commit-config.yaml
  pre-commit/pixi.toml
Due: check-yaml, check-toml, actionlint, toml-format

fix (#25)
  .pre-commit-hooks.yaml
Due: check-yaml

fuix
  pre-commit/pixi.toml
Due: check-toml, toml-format

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
Due: check-yaml, check-toml, actionlint, toml-format

fic
  .github/workflows/pre-commit.yml
Due: check-yaml, actionlint

fix
  .pre-commit-hooks.yaml
  pre-commit/pixi.toml
Due: check-yaml, check-toml, toml-format

fix
  .github/workflows/pre-commit.yml
  .pre-commit-hooks.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
Due: check-yaml, check-toml, actionlint, toml-format

fix
  pre-commit/pixi.toml
  pre-commit/pre-commit.ps1
Due: check-toml, toml-format

fix
  .github/dependabot.yml
  python/ruff.toml
  python/scripts/init-pixi-env.ps1
  rust/rustfmt.toml
  rust/scripts/cargo-machete.ps1
Due: check-yaml, check-toml, toml-format

fix
  .github/sync.yml
  .github/workflows/sync-file.yml
Due: check-yaml, actionlint

fix
  .github/sync.yml
Due: check-yaml
