Repository Glatzel/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-yaml, check-json, check-toml, actionlint, toml-format

check-ast:
  name: check-ast
  entry: pixi run check-added-large-files
  language: system
  stages:
  - pre-commit
  - manual

check-yaml:
  name: check-yaml
  entry: pixi run check-yaml
  language: system
  stages:
  - pre-commit
  - manual

check-json:
  name: check-json
  entry: pixi run check-json
  language: system
  stages:
  - pre-commit
  - manual

check-toml:
  name: check-toml
  entry: pixi run check-toml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run actionlint
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run toml-format
  language: system
  stages:
  - pre-commit
  - manual

local
  .pre-commit-config.yaml
Due: check-yaml

fix
  .github/workflows/pre-commit.yml
Due: check-yaml, actionlint

Fix (#16)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pre-commit/pixi.toml
  taplo.toml
Due: check-yaml, check-toml, actionlint, toml-format

fix
  .github/semantic.yml
Due: check-yaml

fix
  .pre-commit-config.yaml
Due: check-yaml

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  a.py
  pre-commit/pixi.toml
  pre-commit/run-check.ps1
Due: check-ast, check-yaml, check-toml, actionlint, toml-format

fix
  .pre-commit-config.yaml
  pre-commit/pixi.toml
Due: check-yaml, check-toml, toml-format

fix
  .pre-commit-config.yaml
  pre-commit/run-check.ps1
  python/scripts/ruff.ps1
Due: check-yaml

fix
  python/a.py
Due: check-ast

fix
  .pre-commit-config.yaml
  python/a.py
Due: check-ast, check-yaml

ci: modify pre-commit (#17)
  .github/semantic.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pre-commit/pixi.toml
  pre-commit/run-check.ps1
  python/scripts/ruff.ps1
Due: check-yaml, check-toml, actionlint, toml-format

fix
  pre-commit/pixi.toml
Due: check-toml, toml-format

fix
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: check-yaml, actionlint

f
  .github/workflows/pre-commit.yml
Due: check-yaml, actionlint

fix
  .pre-commit-config.yaml
  pre-commit/run-check.ps1
Due: check-yaml

fix
  pre-commit/run-check.ps1
Due: none

fix
  .pre-commit-config.yaml
  pre-commit/pixi.toml
  pre-commit/run-check.ps1
Due: check-yaml, check-toml, toml-format

fix
  .pre-commit-config.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
  pre-commit/run-check.ps1
Due: check-yaml, check-toml, toml-format

Path conditions:
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  toml-format: any of: \.toml$
